.clearfix:after {
    clear: both;
    content: '.';
    visibility: hidden;
}

.timeline-wrapper {
    height: 200px;
    width: 100%;

    overflow: hidden;
    background: #f55;
}

.timeline-year-index {
    height: 50px;
    width: inherit;
    background: #5f5;
    text-align: center;
}

.timeline-scrollbar {
    height: 32px;
    width: inherit;
    background: #55f;
}

.timeline-band {
    width: 20000px;
}

.timeline-band .timeline-content {
    height: 200px;
    width: 200px;

    float: left;
}

.timeline-year-index .timeline-year {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}
